h1{
    text-align: center;
    font-style: oblique;
}
.quote{
    text-align: center;
    font-style: italic;
}
.image img{

   padding-left: 15vw;
}
h3,p{
    text-align: center;
}
.first{
    display: flex;
    flex-direction: column;
    align-items: center;
}
